# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.egg-info

# Logs and database files / sensitive files / model folders / datasets

# Ignore log files and log folder
logs/
*.log

# Ignore database files
memory/persistence/code_memory.db

# Ignore all contents inside the models folder but keep the folder itself
models/*
!models/.gitkeep

# Ignore all contents inside the datasets folder but keep the folder itself
datasets/*
!datasets/.gitkeep

cred.py

# Test coverage reports
htmlcov/

# Environment variables
.env
